$margin:                      8px;
$border:                      1px;

body {
  background-color:             #313E4B;
  margin:                       $margin;
}

.TardisGallery {
  display:                      flex;
  justify-content:              space-between;
  flex-wrap:                    wrap;
}

.Tardis {
  position:                     relative;
  display:                      inline-block;
  border:                       $border solid hsla(0, 100%, 100%, 0.5);

  // iOS will ignore the size of an iframe
  // so wrap it in a size-constrained div
  width:                        320px;
  height:                       568px;
  margin:                       #{$margin - $border};

  -webkit-overflow-scrolling:   touch;
  overflow-y:                   scroll;

  iframe {
    position:                     relative;

    width:                        100%;
    height:                       100%;

    border:                       none;
  }
}
